<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>HTMLの書き方</title>
  </head>

  <body>
    <div id="page01" class="page">
    <h2>トップページだよ</h2>
      <button onclick="changePage('02');">Hello</button><br />
    </div>

    <div id="page02" class="page">
    <h2>Hello！</h2>
      <button onclick="changePage('01');">戻る</button>
    </div>


    <script>

      window.onload = init();

      //HTMLの読み込みが終わったら実行される処理
      function init(){
	changePage("01");
      }

      //ページ切り替え
      function changePage(pageNumber){

	//表示させたいページ（文字列）
	var pageToShow = getById("page" + pageNumber);

	//全ページ
	var pages = getByClassName("page");

	for(let page of pages) {
	  if(page == pageToShow){
	    page.style.display = "block";
	  }else{
	    page.style.display = "none";
	  }
	}
      }

      //idを元にHTML要素のオブジェクトを取得
      function getById(id){
	return document.getElementById(id);
      }

      //class名を元にHTML要素のオブジェクトを取得
      function getByClassName(className){
	return document.getElementsByClassName(className);
      }

    </script>

  </body>
<html>

